---
---

@import "{{ site.theme }}";

.main-content {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

/*
.main-content h1 {
  text-align: center;
}

.main-content h2 {
  text-align: center;
}
*/

.main-content {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  
  h1 {
    border-bottom: none;
    padding-bottom: 0;
  }
}